* { margin:0; padding:0; box-sizing:border-box; }
body { margin:0 !important; 
    padding:0; 
    box-sizing:border-box;
font-family: 'Montserrat'; }
header{
    background-image: url("../../assets/banner2.png");
    background-repeat: no-repeat, repeat;
    background-color: white;
    /* height: 865px; */
    background-size: cover;
    padding-bottom: 40px;
}
.logo{
    width: 90px;
}
li.nav-item a{
    color: #222;
}
.header-container{
width:85%;
margin: 0 auto;
}
.header-content-left-block{

}
.head-box{

}
.head-box .text{
    font-family: 'Montserrat';
    font-size: 36px;
    margin-top: 100px;
    color: #222222;
    font-weight: 500;
    padding: 50px 37px 10px 37px;
}
.head-box .heading{
    font-size: 38px;
}
.bottom-border{
    border-bottom: 4px solid #000;
    margin: 10px 0;
    width: 180px;
    opacity: 1;
}
.head-box img{
    width: 415px;
    margin: 20px 0;
}
.header-content-right-block{

}
.get-btn{
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    padding: 0 15px;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 0 10px;
    cursor: pointer;
}
.login-btn{
    padding: 0 15px;
    border-radius: 20px;
    border-color: #663399;
    margin: 0 10px;
    cursor: pointer;
}
.login-btn:hover{
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
    border-color: transparent;
}
.calc-block{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin-top: 130px;
   
}
.amt-block{
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    margin-top: 260px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 300px;
    padding: 30px 0px;
    color: white;
    opacity: 1;
}
.range-block{
    margin: 10px;
}
.range-block h6{
    margin: 12px 0;
    font-size: 15px;
    color: #666;
}
.mr{margin: 20px 10px;}
.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label{
    background-color: purple;
}
footer{
    background-image: url("../../assets/sol_wave_bg.svg");
    background-repeat: no-repeat, repeat;
    background-color: white;
    height: 720px;
    background-size: cover;
    margin-top: 60px;
}
.footer-left-block{

}
.footer-right-block{

}
.box{
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0px 0px 30px #2321321F;
}
.box:hover {
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    color: white !important;
    cursor: pointer;
    opacity: 0.7;
    
}
.box img{
    display: block;
    margin: 0 0 10px 0;
    width: 70px;
}
.box p{
    color:#999999;
    font-size: 12px;
    margin: 5px 0;
}
.box p:hover{color:#ffffff;}
.mt{
    margin-top: 100px;
}
.text-padding{
    padding: 140px 100px 30px 100px;
}
.border-mr{margin: 40px 0 10px 0;}
.text-padding p{
    color: #777777;
    padding-bottom: 50px;
}

input[type=range] {
    margin: 5px 0;
    width: 100%;
    background-color: #663399 !important;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background-color: #ccc !important;
  }

   input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 0px 0px 0px #000000;
    height: 16px;
    width: 16px;
    border-radius: 27px;
    background: #663399 !important;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type='range']::-moz-range-thumb {
    background: #333;
    border-radius: 50%;
    box-shadow: -1010px 0 0 1000px #666;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 0;
  }
  
  input[type="range"]::-moz-range-track {
    background-color: #ddd;
  }
  input[type="range"]::-moz-range-progress {
    background-color: #666;
    height: 20px
  }
  input[type="range"]::-ms-fill-upper {
    background-color: #ddd;
  }
  input[type="range"]::-ms-fill-lower {
    background-color: #666;
  }

  .r-icon{
      font-size: 24px;
    }
    .rs-icon{
        font-size: 20px;
      }
.mb-20{
    margin-bottom: 25px;
}
.rangeVal{
    font-size: 12px;
    position: relative;
    top: 0px;
    color: #999;
}
.max{
    float: right;
}
.dropList{
    border: none;
    width: 100%;
    color: #222;
    font-weight: 500;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    font-size: 20px;
    background: transparent;
}
.switch{  padding: 12px 0;
    text-align: right;}
    .form-check-input:checked {
        background-color: #663399;
        border-color: #663399;
    }
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #663399;
        background-color: #663399;
    }
    input[type=text]{
        border: none;
    outline: none;
    border-bottom: 1px solid #222;
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    }
    .currency{
        font-size: 18px;
        position: absolute;
        font-size: 11;
        padding: 4px;
    }
    .get-money-btn{
        border: 1px solid transparent;
        padding: 4px 20px;
        margin: 10px;
    }
    .get-money-btn:hover{
        border: 1px solid white;
    }
.br-color{border-color: #707070;
width: 100px;}
    
@media only screen and (max-width: 768px) {
    header{
      width:max-content;
    }
  }